/* Esquema de cores e gradientes baixados do site da adobe*/

:root{
    --cor-bg: radial-gradient( #FEFEFE 61.48590947907772%, 71.56276686592656%, #F2F2F2 81.6396242527754%, 90.8198121263877%, #E1E1E1 100%);
    --cor-texto: #000000;
    --cor-texto-titulo: #000000;
    --cor-titulo: #ffffff;
    --cor-bg-titulo: linear-gradient(to right, #F2F2F2 81.6396242527754%, 90.8198121263877%, #E1E1E1 100%);
    --cor-texto-menu: #000000;
}


